extends ../layouts/default

block intro
	.container-fluid.nopadding: .section.section-background-image
		img.siteBanner(src="/images/banner-incont.jpg", alt="Please Refresh")
	.container
		h1.sepratePostHeader ABDL Members

mixin user(user)
	if user.image !== undefined
		.col-sm-3.col-md-3.gallery-image
			div.card.imageBackground
				div.image-holder
					img.center(src="/uploads/files/" + user.image, alt="User Image")
				div.card-container
					hr
					if user.name.last !== undefined
						h4: a(href='/blog/singleuser/' + user._id, style="font-weight:bold")=user.name.first +' '+user.name.last
					else
						h4: a(href='/blog/singleuser/' + user._id, style="font-weight:bold")=user.name.first
	else	
		.col-sm-3.col-md-3.gallery-image
			div.card.imageBackground
				div.image-holder
					img.center(src="/uploads/files/default-user-kenna-site.png", alt="User Image")
				div.card-container
					hr
					if user.name.last !== undefined
						h4: a(href='/blog/singleuser/' + user._id, style="font-weight:bold")=user.name.first +' '+user.name.last
					else
						h4: a(href='/blog/singleuser/' + user._id, style="font-weight:bold")=user.name.first
	

block content
	if user
		.container.gallery-container-section
			if data.users.results.length
				if data.users.totalPages > 1
					h4.pageShowing(style='text-align: center;').text-weight-normal Showing 
						strong #{data.users.first}
						|  to 
						strong #{data.users.last}
						|  of 
						strong #{data.users.total}
						|  users.
				else
					h4.text-weight-normal Showing #{utils.plural(data.users.results.length, '* user')}.
				.blog
					.row.gallery-images
						each user in data.users.results
							+user(user)
				if data.users.totalPages > 1
					ul.pagination
						if data.users.previous
							li: a(href='?page=' + data.users.previous): span.glyphicon.glyphicon-chevron-left
						else
							li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
						each p, i in data.users.pages
							li(class=data.users.currentPage == p ? 'active' : null)
								a(href='?page=' + (p == '...' ? (i ? data.users.totalPages : 1) : p ))= p
						if data.users.next
							li: a(href='?page=' + data.users.next): span.glyphicon.glyphicon-chevron-right
						else
							li.disabled: a(href='?page=' + data.users.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
	else
		h2.sepratePostHeader You Need to Login First.			





