extends ../layouts/default

block intro
	.container-fluid.nopadding: .section.section-background-image
		img.siteBanner(src="/images/banner-incont.jpg", alt="Please Refresh")
	.container
		.row: .col-sm-8.col-md-offset-3.col-md-6
			h1.contactFormHeader Profile Settings
		
block content
	.container
		if user
			if enquirySubmitted
				h3.contactFormHeader Profile Updated.
			else
				.row: .col-sm-8.col-md-offset-3.col-md-6
					div.imageDiv
						if user.image !== undefined
							img.center(src="/uploads/files/" + user.image, alt="User Image", style="max-height: 300px; padding-bottom: 20px; border-radius: 0px !important")
						else
							img.center(src="/uploads/files/default-user-kenna-site.png", alt="User Image", style="height: 150px; width: auto; padding-bottom: 20px; border-radius: 0px !important")
					form.post(method='post',  enctype='multipart/form-data')
						input(type='hidden', name='action', value='update')
						//- Username
						.form-group()
							label Username
							input(type='text', name='name', value=user.name.first, required=true, disabled).form-control
						//- File Upload
						.form-group()
							label Upload Image
							input(type='file', name='file', value=formData.file_upload).form-control
						//- Username
						.form-group()
							label Email
							input(type='email', name='email', value=user.email, required=true, disabled).form-control
						//- Password
						.form-group()
							label Password
							input(type='password', name='password', value=locals.password).form-control
						//- Age
						.form-group()
							label Age
							select(name='ages', required=true).form-control
								option(value='') Please select one
								each type in ages
									option(value=type.value, selected=user.ages == type.value)= type.label
						//- Ageplay Age
						//- .form-group()
						//- 	label Ageplay Age
						//- 	select(name='ageplay').form-control
						//- 		option(value='') Please select one
						//- 		each type in ageplay
						//- 			option(value=type.value, selected=user.ageplay == type.value)= type.label
						//- Ageplay Month
						.form-group()
							label Ageplay Month
							select(name='ageplayMonth').form-control
								option(value='') Please select one
								each type in ageplayMonth
									option(value=type.value, selected=user.ageplayMonth == type.value)= type.label
						//- Ageplay Year
						.form-group()
							label Ageplay Year
							select(name='ageplayYear').form-control
								option(value='') Please select one
								each type in ageplayYear
									option(value=type.value, selected=user.ageplayYear == type.value)= type.label
						//- Gender
						.form-group()
							label Gender
							select(name='gender', required=true).form-control
								option(value='') Please select your gender
								each type in gender
									option(value=type.value, selected=user.gender == type.value)= type.label
						//- Sexual Orientation
						.form-group()
							label Sexual Orientation
							select(name='sexorientation').form-control
								option(value='') Please select your sexual orientation
								each type in sexorientation
									option(value=type.value, selected=user.sexorientation == type.value)= type.label
						//- I am a
						.form-group()
							label I am a
							select(id="yourType" name="yourType[]" multiple="multiple").form-control
								option(value='') Please select all that apply to you
								each type in yourType
									if user.yourType.indexOf(type.value) != -1
										option(value=type.value, selected)= type.label
									else 
										option(value=type.value)= type.label
						//- My Caregaver is
						.form-group()
							label Caregiver name
							input(type='text', name='caregaver', value=user.caregaver).form-control
						//- My Relationship Status
						.form-group()
							label Relationship Status
							select(name='Rstatus').form-control
								option(value='') Please select one
								each type in Rstatus
									option(value=type.value, selected=user.Rstatus == type.value)= type.label
						//- Time Zone
						.form-group()
							label Time Zone
							select(name='timeZone').form-control
								option(value='') Please select one
								each type in timeZone
									option(value=type.value, selected=user.timeZone == type.value)= type.label
						//- My favorite Hobbies
						.form-group()
							label Favorite Hobbies/Interests
							textarea(name='hobbies', placeholder='Tell us your favorite hobbies/interests...' rows=4).form-control= user.hobbies
						//- My favorite movies
						.form-group()
							label Favorite Movies
							textarea(name='movies', placeholder='Tell us your favorite movies...' rows=4).form-control= user.movies
						//- My favorite books
						.form-group()
							label Favorite Books
							textarea(name='books', placeholder='Tell us your favorite books...' rows=4).form-control= user.books
						//- My favorite music
						.form-group()
							label Favorite Music
							textarea(name='music', placeholder='Tell us your favorite music...' rows=4).form-control= user.music
						//- My favorite diapers
						.form-group()
							label Favorite Diapers
							textarea(name='diapers', placeholder='Tell us your favorite diapers...' rows=4).form-control= user.diapers
						//- My favorite stuffies
						.form-group()
							label Favorite Stuffies
							textarea(name='stuffies', placeholder='Tell us your favorite stuffies...' rows=4).form-control= user.stuffies
						//- My favorite pacifiers
						.form-group()
							label Favorite Pacifiers
							textarea(name='pacifiers', placeholder='Tell us your favorite pacifiers...' rows=4).form-control= user.pacifiers
						//- About me
						.form-group()
							label About me
							textarea(name='message', placeholder='Leave us a message...' rows=4).form-control= user.message
						.form-actions
							button(type='submit').btn.btn-cms Update
		else
			h2.sepratePostHeader You Need to Login First.
		#mvrDisplayModal.modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
						h4.modal-title Title
					.modal-body
						form.post(method='post',  enctype='multipart/form-data')
							input(type='hidden', name='action', value='updateProfile')
							.form-group()
								label.required Upload Image
								input(type='file', name='file', value=formData.file_upload, id='file_upload', required=true).form-control
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close
						button.btn.btn-primary(type='submit') Save changes
