extends ../layouts/default

block intro
	.container
		.row: .col-sm-8.col-md-offset-3.col-md-6
			h1.contactFormHeader Register
		
block content
	.container
		if enquirySubmitted
			h3.contactFormHeader Thanks for getting in touch.
		else
			.row: .col-sm-8.col-md-offset-3.col-md-6
				form.post(method='post')
					input(type='hidden', name='action', value='register')
					//- Username
					.form-group()
						label.required Username
						input(type='text', name='name', value=formData['name.first'], required=true).form-control
					//- Eamil
					.form-group()
						label.required Email
						input(type='email', name='email', value=formData.email, required=true).form-control
					//- Pasword
					.form-group()
						label.required Pasword
						input(type='password', name='password', value=formData.password, required=true).form-control
					//- Age
					.form-group()
						label.required Age
						select(name='ages', required=true).form-control
							option(value='') Please select one
							each type in ages
								option(value=type.value, selected=formData.ages == type.value)= type.label
					//- Ageplay Age
					//- .form-group()
					//- 	label Ageplay Age
					//- 	select(name='ageplay').form-control
					//- 		option(value='') Please select one
					//- 		each type in ageplay
					//- 			option(value=type.value, selected=formData.ageplay == type.value)= type.label
					//- Ageplay Month
					.form-group()
						label Ageplay Month
						select(name='ageplayMonth').form-control
							option(value='') Please select one
							each type in ageplayMonth
								option(value=type.value, selected=formData.ageplayMonth == type.value)= type.label
					//- Ageplay Year
					.form-group()
						label Ageplay Year
						select(name='ageplayYear').form-control
							option(value='') Please select one
							each type in ageplayYear
								option(value=type.value, selected=formData.ageplayYear == type.value)= type.label
					//- Gender
					.form-group()
						label.required Gender
						select(name='gender', required=true).form-control
							option(value='') Please select one
							each type in gender
								option(value=type.value, selected=formData.gender == type.value)= type.label
					//- Sexual Orientation
					.form-group()
						label Sexual Orientation
						select(name='sexorientation').form-control
							option(value='') Please select one
							each type in sexorientation
								option(value=type.value, selected=formData.sexorientation == type.value)= type.label
					//- I am a
					.form-group()
						label I am a
						select(id="yourType" name="yourType[]" multiple="multiple").form-control
							option(value='') Select all that apply
							each type in yourType
								option(value=type.value, selected=formData.yourType == type.value)= type.label
					//- My Caregaver is
					.form-group()
						label Caregiver name
						input(type='text', name='caregaver', value=formData.caregaver).form-control
					//- My Relationship Status
					.form-group()
						label Relationship Status
						select(name='Rstatus').form-control
							option(value='') Please select one
							each type in Rstatus
								option(value=type.value, selected=formData.Rstatus == type.value)= type.label
					//- Time Zone
					.form-group()
						label Time Zone
						select(name='timeZone').form-control
							option(value='') Please select one
							each type in timeZone
								option(value=type.value, selected=formData.timeZone == type.value)= type.label
					//- My favorite Hobbies
					.form-group()
						label Favorite Hobbies/Interests
						textarea(name='hobbies', placeholder='Tell us your favorite hobbies/interests...' rows=4).form-control= formData.hobbies
					//- My favorite movies
					.form-group()
						label Favorite Movies
						textarea(name='movies', placeholder='Tell us your favorite movies...' rows=4).form-control= formData.movies
					//- My favorite books
					.form-group()
						label Favorite Books
						textarea(name='books', placeholder='Tell us your favorite books...' rows=4).form-control= formData.books
					//- My favorite music
					.form-group()
						label Favorite Music
						textarea(name='music', placeholder='Tell us your favorite music...' rows=4).form-control= formData.music
					//- My favorite diapers
					.form-group()
						label Favorite Diapers
						textarea(name='diapers', placeholder='Tell us your favorite diapers...' rows=4).form-control= formData.diapers
					//- My favorite stuffies
					.form-group()
						label Favorite Stuffies
						textarea(name='stuffies', placeholder='Tell us your favorite stuffies...' rows=4).form-control= formData.stuffies
					//- My favorite pacifiers
					.form-group()
						label Favorite Pacifiers
						textarea(name='pacifiers', placeholder='Tell us your favorite pacifiers...' rows=4).form-control= formData.pacifiers
					//- About me
					.form-group()
						label About me
						textarea(name='message', placeholder='Tesll us something about yourself, we will be pleased to hear from you...' rows=4).form-control= formData.message
					.form-actions
						button(type='submit').btn.btn-cms Send
